*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

h2{
    text-align: center;
    margin: 20px 0px;
    text-decoration: underline blue double; 
}

.item{
    background-color: rgb(214, 202, 202);
    width: 30%;
    float: left;
    margin-left: 30px;
    border: 2px solid black;
    margin-bottom: 30px;
}

.container{
    margin-top: 40px;
}

.header{
    float: right;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    width: 90px;
    text-align: center;
    padding: 2px 0px;
    font-weight: 600;
}

.content{
    clear: both;
    padding: 10px;
    line-height: 1.5 ;
    word-spacing: 0.2cm;
}

.chicken{
    background-color: rgb(154, 15, 38);
}

.beef{
    background-color: rgb(69, 223, 110);
}

.sushi{
    background-color: rgb(3, 196, 170);
}


@media (max-width: 991px) and (min-width: 768px) {
    .item{
        border-radius: 20px;
        overflow: hidden;
        width: 45%;
    }

    .div3{
        width: 93%;
    }
}

@media (max-width: 767px) {
    .item{
        border-radius: 20px;
        overflow: hidden;
        width:92%;
    }

}
